/* Center body content */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SPACE */
.space {
  width: 200px;
  height: 200px;
  position: relative;
}

/* EARTH */
.earth {
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ORBIT */
.orbit {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 5s linear infinite;
}

/* MOON */
.moon {
  width: 30px;
  height: 30px;
  background: gray;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* ANIMATION */
@keyframes orbit {
  0% {
    transform: rotate(0deg) translate(-50%, -50%);
  }
  100% {
    transform: rotate(360deg) translate(-50%, -50%);
  }
}
